<div class="container">
  <div class="header">
  </div>
  <div class="content">
    <% @resultant_hash.each do |key, arry| %>
        <ul>
        <a class="parent-link caret down"><%= key.humanize %><span class="fa fa-arrow-up"></span></a>
        <div class = "all_links">
          <% arry.each do |newz| %>
            <li><a href= <%=newz.values[0]%> > <%=newz.keys[0] %></a></li>
          <% end %>
        </div>
      </ul>
    <% end %>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js">
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".parent-link").click(function()
    {  
      $(".all_links").slideToggle("fast"); 
      if($(".parent-link").hasClass('down'))
        {
          $('.parent-link').removeClass('down');
          $('.parent-link').addClass('up');
          $('.parent-link .fa').removeClass("fa-arrow-up");
          $('.parent-link .fa').addClass("fa-arrow-down");
        }
      else 
        {
          $('.parent-link').removeClass('up');
          $('.parent-link').addClass('down');
          $('.parent-link .fa').removeClass("fa-arrow-down");
          $('.parent-link .fa').addClass("fa-arrow-up");
        }
    });  
  });
</script>