/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
caret {
      width: 0;
      height: 0;
      display: inline-block;
      border: 10px solid transparent;
      color: blue;
    }
    .caret.down{
      font-size: medium;
      border-top-color: black;
      color: blue;
    }
    .caret.right{
      font-size: medium;
      border-left-color: black;
      color: blue;

    }
    .caret.up{
      font-size: medium;
      border-bottom-color: black;
      color: blue;
    }
    .caret.left{
      font-size: medium;
      border-right-color: black;
      color: blue;
    }

.all_links {
    margin-left: 35px;
    font-size: small;
}*/

